:root {
  --font-color: #fff;
  --page-background: #34495e;
  --bars-color: #fff;
  --bars-background: #34495e44;
  --slider-width: 780px;
  --slider-height: 450px;
}

body {
  margin: 0;
  padding: 0;
  background: var(--page-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
}

.slidershow {
  width: var(--slider-width);
  height: var(--slider-height);
  overflow: hidden;
  filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  width: 40px;
  height: 10px;
  border: 2px solid var(--bars-color);
  background: var(--bars-background);
  margin: 6px;
  cursor: pointer;
  transition: .4s;
}

.bar:hover {
  background: var(--bars-color);
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 1000%;
  height: 100%;
  display: flex;
}

.slide {
  width: 10%;
  transition: .6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -10%;
}

#r3:checked ~ .s1 {
  margin-left: -20%;
}

#r4:checked ~ .s1 {
  margin-left: -30%;
}

#r5:checked ~ .s1 {
  margin-left: -40%;
}

#r6:checked ~ .s1 {
  margin-left: -50%;
}

#r7:checked ~ .s1 {
  margin-left: -60%;
}

#r8:checked ~ .s1 {
  margin-left: -70%;
}

#r9:checked ~ .s1 {
  margin-left: -80%;
}

#r10:checked ~ .s1 {
  margin-left: -90%;
}
